.main {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    min-height: 100vh;
}

.button {
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 24px;
    border-radius: 12px;
}

.list {
    gap: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-mono);
}

.card {
    margin: 0;
    display: flex;
    padding: 1rem;
    position: relative;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
}

.infoLeft {
}

.infoRight {
}

@media screen and (max-width: 768px) {
    .main {
        padding: 1rem;
    }
}
